# This workflow runs scripts/generate_tokenlists_file.py and commits tokenlist-mainnet.json to this branch

name: Generate Tokenlist

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  generate-tokenlist:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Run script
        run: |
          source venv/bin/activate
          python scripts/generate_tokenlists_file.py

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update mainnet-tokenlist.json"
          file_pattern: "tokenlist-mainnet.json"